*, body, html {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: black;
    color: gray;
    height: 90px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#todo-form {
    display: flex;
    height: 35px;
    gap: 20px;

}

#todo-form button {
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0056b3;
    border: none;
    color: white;
    border-radius: 10%;

}

#todo-form button:hover {
    background-color: #077BFF
}

#todo-form input {
    border: 1px solid silver;
    border-radius: 5px;
    width: 450px;
    padding-left: 1em;
}

.paragraph-container {
    display: flex;
    align-items: end;
    height: 10vh;
    margin-left: 20%;
}

.task-container {
    display: flex;
    align-self: start;
    flex-direction: column;
    gap: 10px;
    margin-left: 20%;
    margin-bottom: 30px;
    width: 900px;
}

.task-container li {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 1%;
    height: 60px;
    border-radius: 2px;
    border: 1px solid lightgray;
    gap: 12px;
}

.task-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #0056b3;
}

.task-text {
    display: block;
    flex: 1;
    max-width: 900px;
}


.delete-btn {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn img {
    width: 24px;
    height: 24px;
    display: block;
}

.delete-btn:hover img {
    opacity: 0.8;
}

.task-container li.done .task-text {
    text-decoration: line-through;
    color: #888;
}


.done {
    text-decoration: line-through;
    color: #888;
}